<div>
  <div class="container-fluid">
	<div class="header-group">
		<h1 class="title" ng-cloak>{{vm.PageService.title()}}</h1>
        <p class="headline" ng-cloak>{{vm.PageService.headline()}}</p>
	</div>
  </div>
  <div class="container">
	<div class="module__group">
		<div class="module__divider">
			<h4>Vehicles</h4>
		</div>
		<div class="module module--wide" ng-repeat="vehicle in vm.vehicles" ng-if="vm.vehicles.length > 0">
		  <div class="module__body--wide">
			<div class="cell">
			  <div class="cell__group">
				<p class="text text--label">
				  {{vehicle.make}} {{vehicle.model}}
				</p>
				<p class="text text--caption">
				  {{vehicle.licenceplate}}
				</p>
			  </div>
			  <div class="cell__group" ng-if="vehicle.isDefault">
					<span class="text--caption text text--muted">Default</span>
			  </div>
			</div>
		  </div>
		  <div class="module__footer">
			<div class="cell">
			  <div class="cell__group cell__group--align-right cell__group--list">
				<span class="text text--link text--caption" ng-click="vm.makeDefault(vehicle.id,$index)">Set as Default</span>
				<span class="text text--link text--warning text--caption" ng-disabled="vm.isRemoving" ng-click="vm.remove(vehicle.id,$index)">{{vm.isRemoving ? "Removing" : "Remove"}}</span>
			  </div>
			</div>
		  </div>
		</div>
		<div class="module module--wide">
			<div class="module__body--wide">
				<div class="cell cell--clickable" ng-click="vm.addNew()">
					<div class="cell__group cell__group--align-right">
						<span class="text text--link">Add Vehicle</span>
					</div>
				</div>
			</div>
		</div>
  </div>
</div>
  <div class="policy-links container">
	<a href="#/commuter/parking-policy">Parking Policy</a>
  </div>
</div>
</div>
