<style>
    html, body, #map-container, #map, #tab-content, #map-dialog {
        width: 100%;
        height: 100%;
    }

    .angular-google-map,
    .angular-google-map-container {
        width: 100%;
        height: 100%;
    }

    #map-container {
        height:500px
    }
</style>


    <div class="modal__content">
        <div class="modal__body">
            <button type="button" class="btn--back" ng-click="vm.cancel();" data-dismiss="modal"></button>
            <div id="map-container">
                <ui-gmap-google-map id="map-dialog" center="vm.map.center" zoom="vm.map.zoom" pan="true" draggable="true" control="vm.mapControl" options="vm.mapOptions">
                    <ui-gmap-marker ng-repeat="stop in vm.stopMarker" coords="stop" idKey="stop.stopId"
                                    options="{icon: stop.icon}" events="vm.markerEvent"></ui-gmap-marker>
                    <ui-gmap-window show="vm.show" coords="vm.coords" closeClick="vm.show=false" options="{pixelOffset: {width: 5, height: -55}}"
                                    templateUrl="'infowindow.html'" templateParameter="vm.coords">
                </ui-gmap-google-map>
            </div>
        </div>
    </div>

<script type="text/ng-template" id="infowindow.html">
    <div class="map-popover">
        <div class="header-group">
            <p class="primary">{{parameter.stopName}}</p>
            <p class="address">{{parameter.address}}</p>
        </div>
    </div>
</script>

